<html>
<head>
  <title>Todo List</title>

</head>
<body>
  <%= yield %>
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/todo_list.js"></script>
</body>
</html>